{{!< default}}

{{#contentFor 'pageStyles'}}
{{/contentFor}}

<h1>{{title}} </h1>
<a href="/settings">Settings</a>
<br/>

<div class="row">
	<div class="col-xs-5">
    <select name="from[]" id="multiselect" class="form-control" size="25" multiple="multiple">
      {{#each movies}}
        <ul>
          <option value="{{num}}">{{name}}</li>
        </ul>
      {{/each}}
    </select>
  </div>
  <div class="col-xs-2">
		<button type="button" id="multiselect_rightAll" class="btn btn-block"><i class="glyphicon glyphicon-forward"></i></button>
		<button type="button" id="multiselect_rightSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-right"></i></button>
		<button type="button" id="multiselect_leftSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-left"></i></button>
		<button type="button" id="multiselect_leftAll" class="btn btn-block"><i class="glyphicon glyphicon-backward"></i></button>
		<button type="button" id="multiselect_submit" class="btn btn-block">Set Queue</button>
	</div>
	
	<div class="col-xs-5">
		<select name="to[]" id="multiselect_to" class="form-control" size="25" multiple="multiple"></select>
	</div>

</div>
<div class="row">
	<div class="col-xs-12">
    <div class="processBox">
    </div>
  </div>
</div>
<script type="text/javascript">
    jQuery(document).ready(function($) {
      $('#multiselect').multiselect();
      $('#multiselect_submit').on('click', function() {
        //$('.btn').prop('disabled', true);

        var data = {'media': $("#multiselect_to option").map(function(){ return this.value }).get()};
        $.ajax({
          type: "POST",
          url: "/request",
          data: data,
          success: success,
          dataType: 'json'
        });
      });
    });
    function success() {
    };
</script>
